################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LearningHub.Nhs.MessageQueueProcessor/bin/Debug/net8.0
/LearningHub.Nhs.MessageQueueProcessor/obj
/LearningHub.Nhs.MessageQueueProcessor/local.settings.json
/LearningHub.Nhs.MessageQueueProcessor/host.json
